{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}">
<footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>About Us</h3>
                <p>Platform is a Nepali clothing brand dedicated to bringing modern, stylish, and affordable fashion to trendsetters who value quality and individuality. Blending global trends with local authenticity, we craft each piece with comfort, durability, and confidence in mind. More than just a brand, Platform is a movement empowering individuals to express themselves through fashion while keeping it accessible to all.</p>
            </div>
            <div class="footer-section">
               <h3>Quick Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/product">Products</a></li>
                    <li><a href="/bidding">Bidding</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Follow Us On</h3>
                <div class="social-icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
        <p class="footer-bottom">© 2025 Platform. All Rights Reserved.</p>
    </footer>
{% endblock %}